* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /*   border: 1px solid red; */
}
body,
html {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  min-width: 360px;
  /*   background-image: url(/assets/background/lines.svg); */
}
:root {
  --fontSizeMedium: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
  --purpleColor: #271d3b;
  --blackColor: black;
  --whiteColor: aliceblue;
  --mostaza: rgb(255, 208, 0);
  --transitions: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}

/*SECCION DE COLOR NEGRO DE DESCUENTOS ARRIBA DEL HEADER*/
.discountSection {
  width: 100%;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  height: 30px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.discountContainer {
  position: relative;
  top: 0;
  height: 120px;
}

.discountContainer p {
  font-size: var(--fontSizeMedium);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  animation: slideHeader 8s infinite alternate cubic-bezier(0.85, 0, 0.15, 1);
}
@keyframes slideHeader {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-30px);
  }
  45% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-60px);
  }
  70% {
    transform: translateY(-60px);
  }

  75% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(-90px);
  }
}
/*FIN DE SECCION DE COLOR NEGRO DE DESCUENTOS */

/*COMIENZO DEL HEADER*/
.headerSection {
  background-color: var(--blackColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 15;
  height: 60px;
}

.headerSection img {
  height: 70px;
}

.navContainer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.navContainer ul li a {
  font-size: 1.25rem;
  color: var(--whiteColor);
}
.navContainer ul li a:hover {
  transition: all 500ms;
  color: rgb(243, 243, 69);
}
#hotSale {
  color: rgb(214, 54, 54);
}
#hotSale:hover {
  font-weight: bold;
  transition: 200ms ease-in-out;
}
.headerSection--loggin-register {
  display: flex;
  gap: 15px;
}
.loggin-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}
/*CSS DEL TOOLTIP DEL REGISTRO E INICIO DE SESION*/
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 1em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 8px;
  border-radius: 3px;
  background: var(--blackColor);
  color: var(--whiteColor);
  z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--blackColor);
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--blackColor);
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
  transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: var(--blackColor);
  left: calc(0em - 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: var(--blackColor);
  right: calc(0em - 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

/*ESTILOS DEL MENU HAMBURGUESA*/
#burgerMenu {
  display: none;
}

.headerSection label {
  display: none;
  z-index: 15;
  height: 50px;
  width: 50px;
  transform: translateX(-10px);
}
.burger--loggin-register {
  display: none;
}
/*FIN DEL HEADER*/

/*COMEIZO DEL HERO SECTION*/
.heroSliderSection {
  width: 100%;
  overflow-x: hidden;
}
.imgContainer {
  display: flex;
  padding: 0;
  width: 500%;
}
.imgContainer img {
  width: 100vw;
  animation: slide 30s infinite alternate cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  24% {
    transform: translateX(-100%);
  }
  39% {
    transform: translateX(-100%);
  }
  42% {
    transform: translateX(-200%);
  }
  57% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  78% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}
/*FIN DEL HERO SECTION*/
.indexCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.indexCards h2 {
  font-family: sans-serif;
  padding: 15px;
  color: var(--whiteColor);
  text-align: start;
  background-color: var(--blackColor);
  width: 100%;
}
.indexCards > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  overflow: hidden;
  gap: 20px;
  width: 100%;
}

.clothingCards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transitions);
  border-radius: 10px;
  box-shadow: 25px 25px 50px #bcbcbc, -25px -25px 50px #ffffff;
}
.clothingCards:hover {
  border: 1px solid var(--purpleColor);
  transition: var(--transitions);
  transform: scale(1.03);
  box-shadow: none;
}
.clothingCards img {
  width: 100%;
}
.clothingCards_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  padding: 15px 5px;
}
.clothingCards_div p:first-child {
  font-weight: bolder;
}
.clothingCards_div p:nth-child(2) {
  font-size: 1.3em;
}
.clothingCards_div p:nth-child(3) {
  font-weight: bold;
}

.clothingCards:hover .clothingCards_div{
  border-top: 3px solid var(--purpleColor);
}
.clothingCards:hover .clothingCards_div p:nth-child(3){
  color: red;
}

.clothingCards_div span {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.clothingCards__button {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  font-size: 15px;
  margin: 5px 0;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 black;
}

.clothingCards__button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 black;
}

.clothingCards__button:active {
  transform: scale(0.9);
}
/*BANNER DE VANS*/
.banner__vansIndex {
  width: 100%;
}
.banner__vansIndex {
  width: 100%;
}
.banner__vansIndex img {
  width: 100%;
}
/* TARJETAS CON ENLACES A LAS SECCIONES DE ROPA*/
.clothingIndexSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
background-color: var(--blackColor);
  grid-template-areas:
    "ropaMujer Skate ropaHombre"
    "zapas zapas zapas";
}

.ropaMujer img,
.Skate img,
.ropaHombre img,
.zapas img{
  width: 100%;
height: 100%;
  z-index: 5;

}
.zapas img:nth-child(2){
 display: none;
}
.ropaMujer,
.Skate,
.ropaHombre,
.zapas  {
    filter: grayscale(10);
  position: relative;
}
.ropaMujer div,
.Skate div,
.ropaHombre div,
.zapas div {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
 
}
.ropaMujer div h3,
.Skate div h3,
.ropaHombre div h3,
.zapas div h3{
  color: var(--whiteColor);
  background-color: black;
  width: 100%;
  text-align: center;
} 

.ropaMujer:hover,
.Skate:hover,
.ropaHombre:hover,
.zapas:hover {
filter: grayscale(0);
transition: var(--transitions);
}

.ropaMujer {
  grid-area: ropaMujer;
}

.Skate {
  grid-area: Skate;
}

.ropaHombre {
  grid-area: ropaHombre;
}

.zapas {
  grid-area: zapas;
}

/* TARJETAS CON ENLACES A LAS SECCIONES DE ROPA*/

.miCarrito {
  display: flex;
  z-index: 15;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0;
  height: 90vh;
}
.CartBtn {
  width: 40px;
  height: 150px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: none;
  background-color: var(--mostaza);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 14;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: sticky;
}

.IconContainer {
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.1px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1em;
  font-weight: 600;
}
.CartBtn:hover {
  height: 170px;
}
.CartBtn:hover .IconContainer {
  transform: translateX(56px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.cartContainer {
  height: 100%;
  width: 0;
  background-color: var(--whiteColor);
  position: sticky;
  z-index: 13;
  border-bottom-left-radius: 10px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

.cartContainer::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
.cartContainer::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.cartContainer::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

#cartInput {
  display: none;
}
.cartFocus {
  transition: all 0.3s ease-in-out;
}
#cartInput:checked ~ .cartFocus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.322);
  backdrop-filter: blur(2px);
  z-index: 13;
  transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}
#cartInput:checked ~ .cartContainer {
  width: 300px;
  overflow-y: scroll;
  padding: 5px 5px;
}
.cartCards__Container {
  display: flex;
  gap: 20px;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 90%;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
}
.trashIcon {
  font-size: 20px;
  z-index: 25;
  color: red;
  padding: 15px0;
}
.trashIcon:hover {
  font-weight: bolder;
  transform: scale(1.2);
}
.cartCard img {
  height: 100%;
}
.cartCard--text {
  font-size: 14px;
  padding-right: 20px;
}
.item-handler {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.item-handler span:hover:not(:nth-child(2)) {
  font-weight: bolder;
  transform: scale(1.2);
}
.cartTotal {
  width: 100%;
  position: relative;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cartTotal span {
  display: flex;
  justify-content: space-between;
}
.cartTotal button {
  width: 100%;
}

.whatsappIcon {
  background-color: green;
  height: 40px;
  width: 50px;
  display: flex;
  justify-self: center;
  position: fixed;
  right: 0;
  bottom: 15px;
  z-index: 12;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.whatsappIcon a {
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.whatsappIcon a img {
  height: 80%;
  margin: 0 auto;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--whiteColor);
  background-color: var(--blackColor);
  padding: 15px;
  height: 70px;
  position: relative;
  z-index: 10;
  width: 100%;
}
.footerSocialMedia {
  margin-right: 40px;
}
.footerSocialMedia {
  display: flex;
  gap: 10px;
}
.footerSocialMedia img {
  filter: grayscale(1);
  cursor: pointer;
  height: 100%;
}
.footerSocialMedia img:hover {
  filter: grayscale(0);
}
